<div class="p-4">

    <h2 class="mat-h2 mt-3">Animation builder</h2>

    <mat-accordion>
        <mat-expansion-panel class="my-4">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Gallery
                </mat-panel-title>
                <mat-panel-description>
                    Add pixel arts from your gallery
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="mt-3 text-center pa-gallery">

                <div class="d-inline-block p-2 pa-size-150" *ngFor="let pa of pixelArtArray">
                    <mat-card class="mat-elevation-z2">
                        <div mat-card-image>
                            <div class="pa-grid-container">
                                <div class="pa-grid">
                                    <div class="pa-thumb"
                                         [style.background-image]="'url(' + pa.base64Thumb + ')'"></div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content class="pa-title" title="{{ pa.piskel.name }}">
                            {{ pa.piskel.name || 'No name' }}
                        </mat-card-content>
                        <mat-card-actions class="p-0">
                            <button mat-stroked-button class="w-100" (click)="addToTimeline(pa)">
                                <mat-icon>playlist_add</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>

            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="row">
        <div class="col-md-8">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <mat-form-field class="w-50" style="max-width: 250px">
                        <input matInput placeholder="Name" [value]="timeline.name">
                    </mat-form-field>
                </div>
                <button mat-raised-button color="accent" (click)="saveAnimation()">Save</button>
            </div>

            <div cdkDropList class="timeline mb-3" (cdkDropListDropped)="drop($event)">
                <li class="pa-item p-2" *ngFor="let animationItem of timeline.animationItems | keyvalue" cdkDrag>
                    <div class="custom-placeholder" *cdkDragPlaceholder></div>

                    <div style="width: 80px">
                        <div class="pa-thumb"
                             [style.background-image]="'url(' + animationItem.value.pixelArt.base64Thumb + ')'"></div>
                    </div>

                    <div class="px-3 flex-grow-1 v-center">{{ animationItem.value.pixelArt.piskel.name }}</div>

                    <button mat-stroked-button (click)="openDelayDialog(animationItem)" class="px-3">
                        <mat-icon class="mr-2">timer</mat-icon>
                        {{ animationItem.value.time }}s
                    </button>

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="deleteFromTimeline(animationItem.key)" mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>


                </li>
            </div>

            <button mat-raised-button color="primary" (click)="openSnackBar('Movie is running 🍿')">Run</button>
        </div>

        <div class="col-md-4">

        </div>
    </div>


</div>
