[Unit]
Description=Ledwallapp API
After=mongodb.service

[Service]
Environment=API_ROOT_PATH=/home/debian/LedWallApp/back
WorkingDirectory=/home/debian/LedWallApp/back
ExecStart=/usr/bin/node /home/debian/LedWallApp/back/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ledwallapp-api
User=debian

[Install]
WantedBy=multi-user.target
