<h1 mat-dialog-title>{{data.piskel.name}}</h1>
<div mat-dialog-content>
  <div class="pa-info">

    <div class="row">
      <div class="col-md-4">Fps</div>
      <div class="col-md-8">{{ data.piskel.fps }}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Dimension</div>
      <div class="col-md-8">{{ data.piskel.width }} x {{ data.piskel.height }} </div>
    </div>
    <div class="row">
      <div class="col-md-4">Modified</div>
      <div class="col-md-8">{{ data.updatedAt | date:'medium' }}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Created</div>
      <div class="col-md-8">{{ data.createdAt | date:'medium' }}</div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>

