
.pixelart-card-container {

  .mat-card-image {


    .pixelart-thumb {
      height: 100px;
      image-rendering: pixelated;
      background-size: contain;
      background-repeat:no-repeat;
      background-position: center center;
    }
  }

  .pixelart-card {
    display: inline-block;
    width: 150px;
  }

  mat-card-actions {
    display:flex;
  }

  .pixelart-title {
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

}

.spacer {
  flex: 1 1 auto;
}


.mat-fab .mat-icon {
  display: block;
}
