<div class="p-4">


    <div class="file-card-container mb-5">

        <mat-card class="file-card m-2" *ngFor="let file of filesGallery">
            <img mat-card-image [src]="file.url" alt="">
            <mat-card-content>
                {{ file.name }}
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">RUN</button>
                <span class="spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="deleteFiles(file._id)" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </mat-card-actions>
        </mat-card>

    </div>


    <form #form>
        <div class="form-group">
            <button routerLink="editor" mat-fab color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </form>

</div>
