<!--<div class="sidebar">
  <ul>
    <button>Nouveau</button>
    <li class="sidebar-menuitem" data-sprite="megaman">Load Megaman</li>
    <li class="sidebar-menuitem" data-sprite="sonic">Load Sonic</li>
    <li class="sidebar-menuitem" data-sprite="mario">Load Mario</li>
    <li class="sidebar-menuitem" data-sprite="autre">Load Mario</li>
  </ul>
</div>-->
<div class="editor-container">
    <iframe class="editor-frame" src="/assets/piskel-editor/index.html" #iframe id="piskel-iframe" (load)="iframeLoaded()"></iframe>
</div>

