[Unit]
Description=Ledwallapp API
After=mongodb.service

[Service]
ExecStart=/usr/bin/node ${LEDWALLAPP_HOME}/back/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ledwallapp-api
Environment=NODE_ENV=production PORT=3000
User=pi

[Install]
WantedBy=multi-user.target
