<div class="p-4 ">

  <section>

    <h2 class="mat-h2 mt-3">Animation Gallery</h2>

    <div class="mb-5 text-center pa-gallery">

      <div class="d-inline-block p-2 pa-size-220" *ngFor="let animation of animationArray">
        <mat-card class="mat-elevation-z2 pb-2">
          <div mat-card-image class="mb-2">
            <div class="pa-grid-container">
              <div class="pa-grid">
                <div class="pa-thumb" [ngStyle]="animationBackground(animation)"></div>
              </div>
            </div>
          </div>
          <mat-card-content title="{{ animation.name }}">
            <div class="pa-title">
              {{ animation.name || 'No name' }}</div>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button  (click)="runAnimation(animation._id)" mat-menu-item>
                  <mat-icon>send</mat-icon>
                  <span>Run</span>
                </button>
                <!--<button (click)="openPixelArtInformationDialog(pa)" mat-menu-item>-->
                  <!--<mat-icon>info</mat-icon>-->
                  <!--<span>Information</span>-->
                <!--</button>-->
                <button [routerLink]="['/animations']" [queryParams]="{id: animation._id}" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button (click)="deleteAnimation(animation._id)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="animationArray?.length <= 0">
        <button mat-stroked-button class="flex-grow-1" [routerLink]="['/animations']">Créez</button>
        <span> votre première animation maintenant !</span>
      </div>

      <div *ngIf="animationArray?.length > 0" class="d-inline-block p-2 pa-size-220 align-top">
        <button [routerLink]="['/animations'] "style="border-radius: 4px;width: 100%;height: 180px;background-color: #ffffff61;" mat-raised-button>
          <mat-icon style="font-size: 48px;width: 48px;height: 48px;line-height: 48px;color: #464646;">add_circle_outline</mat-icon>
        </button>
      </div>

    </div>


  </section>




  <section>

    <h2 class="mat-h2 mt-3">Pixelart Gallery</h2>

    <div class="mb-5 text-center pa-gallery">

      <div class="d-inline-block p-2 pa-size-220" *ngFor="let pa of pixelartArray">
        <mat-card class="mat-elevation-z2 pb-2">
          <div mat-card-image class="mb-2">
            <div class="pa-grid-container">
              <div class="pa-grid">
                <div class="pa-thumb" [style.background-image]="'url(' + pa.base64Thumb + ')'"></div>
              </div>
            </div>
          </div>
          <mat-card-content title="{{ pa.piskel.name }}">
            <div class="pa-title">
              {{ pa.piskel.name || 'No name' }}</div>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="runPixelart(pa._id)" mat-menu-item>
                  <mat-icon>send</mat-icon>
                  <span>Run</span>
                </button>
                <button (click)="openPixelArtInformationDialog(pa)" mat-menu-item>
                  <mat-icon>info</mat-icon>
                  <span>Information</span>
                </button>
                <button [routerLink]="['/editor']" [queryParams]="{id: pa._id}" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button (click)="deletePixelArt(pa._id)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="pixelartArray?.length <= 0">
        <button mat-stroked-button class="flex-grow-1" [routerLink]="['/editor']">Créez</button>
        <span> votre premier pixelart maintenant !</span>
      </div>

      <div *ngIf="pixelartArray?.length > 0" class="d-inline-block p-2 pa-size-220 align-top">
        <button [routerLink]="['/editor'] "style="border-radius: 4px;width: 100%;height: 180px;background-color: #ffffff61;" mat-raised-button>
          <mat-icon style="font-size: 48px;width: 48px;height: 48px;line-height: 48px;color: #464646;">add_circle_outline</mat-icon>
        </button>
      </div>

    </div>

  </section>



  <section>

    <h2 class="mat-h2 mt-3">Wordart Gallery</h2>

    <div class="mb-5 text-center pa-gallery">

      <div class="d-inline-block p-2 pa-size-220" *ngFor="let wa of wordartArray">
        <mat-card class="mat-elevation-z2 pb-2">
          <div mat-card-image class="mb-2">
            <div class="pa-grid-container">
              <div class="pa-grid">
                <!--<div class="pa-thumb" [style.background-image]="'url(' + pa.base64Thumb + ')'"></div>-->
              </div>
            </div>
          </div>
          <mat-card-content title="{{ wa.text }}">
            <div class="pa-title">
              {{ wa.text || 'No name' }}</div>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button  (click)="runWordart(wa._id)" mat-menu-item>
                  <mat-icon>send</mat-icon>
                  <span>Run</span>
                </button>
                <button [routerLink]="['/wordarts']" [queryParams]="{id: wa._id}" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button (click)="deleteWordart(wa._id)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
          </mat-card-content>
        </mat-card>
      </div>


      <div *ngIf="wordartArray?.length <= 0">
        <button mat-stroked-button class="flex-grow-1" [routerLink]="['/wordart']">Créez</button>
        <span> votre premier wordart maintenant !</span>
      </div>

      <!--<div *ngIf="pixelartArray?.length > 0" class="d-inline-block p-2 pa-size-220 align-top">-->
        <!--<button [routerLink]="['/editor'] "style="border-radius: 4px;width: 100%;height: 180px;background-color: #ffffff61;" mat-raised-button>-->
          <!--<mat-icon style="font-size: 48px;width: 48px;height: 48px;line-height: 48px;color: #464646;">add_circle_outline</mat-icon>-->
        <!--</button>-->
      <!--</div>-->


    </div>

  </section>




  <section>

    <h2 class="mat-h2 mt-3">Script Gallery</h2>

    <div class="mb-5 text-center pa-gallery">

      <div class="d-inline-block p-2 pa-size-220" *ngFor="let script of scriptArray">
        <mat-card class="mat-elevation-z2 pb-2">
          <div mat-card-image class="mb-2">
            <div class="pa-grid-container">
              <div class="pa-grid">
                <!--<div class="pa-thumb" [style.background-image]="'url(' + pa.base64Thumb + ')'"></div>-->
              </div>
            </div>
          </div>
          <mat-card-content title="{{ script.name }}">
            <div class="pa-title">
              {{ script.name || 'No name' }}</div>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="runScript(script._id)" mat-menu-item>
                  <mat-icon>send</mat-icon>
                  <span>Run</span>
                </button>
                <button (click)="deleteScript(script._id)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="scriptArray?.length <= 0">
        <!--<form #form class="mt-5">-->
          <!--<div class="form-group">-->
            <!--<input type="file"-->
                   <!--id="file"-->
                   <!--(change)="uploadScript($event.target.files)">-->
          <!--</div>-->
        <!--</form>-->
        <!--<button mat-stroked-button class="flex-grow-1" [routerLink]="['/editor']">Importez</button>-->
        <!--<span> votre premier script maintenant !</span>-->
      </div>

      <form #form class="mt-5">
        <div class="form-group">
          <input type="file"
                 id="file"
                 (change)="uploadScript($event.target.files)">
        </div>
      </form>

      <!--<div *ngIf="pixelartArray?.length > 0" class="d-inline-block p-2 pa-size-220 align-top">-->
        <!--<button [routerLink]="['/editor'] "style="border-radius: 4px;width: 100%;height: 180px;background-color: #ffffff61;" mat-raised-button>-->
          <!--<mat-icon style="font-size: 48px;width: 48px;height: 48px;line-height: 48px;color: #464646;">add_circle_outline</mat-icon>-->
        <!--</button>-->
      <!--</div>-->



    </div>

  </section>




</div>
