
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="mr-3" (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <a class="app-title mr-3" href="#" routerLink="/" mat-button>LedWallApp</a>
        <div fxShow="true" fxHide.lt-md>
            <a href="#" [routerLink]="['/controller']" mat-button>Controller</a>
            <a href="http://10.172.5.202/video.cgi" target="_blank" mat-button>Live Preview<i class="ml-1 material-icons">play_circle_filled</i></a>
        </div>
        <div class="flex-grow-1"></div>
        <button class="app-title ml-3" (click)="turnOff()" mat-button><mat-icon>power_off</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a (click)="sidenav.toggle()" [routerLink]="['/controller']" mat-list-item>Controller</a>
            <a (click)="sidenav.toggle()" href="http://10.172.5.202/video.cgi" target="_blank" mat-list-item>Live Preview<i class="ml-1 material-icons">play_circle_filled</i></a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>

</mat-sidenav-container>


<app-footer *ngIf="!router.url.includes('editor')"></app-footer>
