<!-- normal bootstrap way -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <!-- <a class="navbar-brand" routerLink="nav">Navbar</a> -->
  <button class="navbar-toggler" type="button"  (click)="toggleCollapsed()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!--<div *ngIf=!currentUser class="form-inline">-->
      <!--<a class="btn btn-outline-warning" routerLink="login">Sign In</a>-->
    <!--</div>-->
    <!--<div *ngIf=!currentUser class="form-inline ml-2">-->
      <!--<a class="btn btn-outline-warning" routerLink="register">Register</a>-->
    <!--</div>-->
    <!--<div *ngIf=currentUser class="form-inline">-->
      <!--<span class="px-2">{{currentUser}}</span>-->
        <!--<a class="btn btn-outline-warning" (click)=logOut()>Sign Out</a>-->
    <!--</div>-->
  </div>
</nav>
